.header {
  background: $color-blue-dark;
  padding: $spacing-med 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;

    & a:link,
    & a:visited {
      text-decoration: none;
      color: $color-white;
    }
  }
}
