base *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  // font-size: 50%;

  // @media screen and (min-width: 45em) {
  //   font-size: 62.5%;
  // }
}

body {
  box-sizing: border-box;
  height: 100vh;
}

::selection {
  background-color: $color-black;
  color: $color-white;
}

// TYPOGRAPHY
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; // check actual value later
  color: $color-gray-dark-2;
}
