// VARIABLES

//COLORS
$color-white: #fff; //
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #ddd;
$color-gray-med-1: #bbb;
$color-gray-med-2: #999;
$color-gray-dark-1: #777;
$color-gray-dark-2: #333;

// GRADIENTS
$gradient-primary: linear-gradient(to right, #fffde4, #005aa7);

// FONTS
$font-size-default: 1.6rem;
$font-size-med: 1.8rem;
$font-size-med-2: 2.2rem;
$font-size-large: 3.2rem;
$font-size-xlarge: 3.6rem;

//LAYOUT
$spacing-xsmall: 0.75rem;
$spacing-small: 1rem;
$spacing-med: 1.6rem;
$spacing-large: 2rem;
$spacing-larger: 3rem;
$spacing-largest: 4.8rem;
